.body-container {
  margin: 0 5%;
  background-color: #252525;
  border-top: 3px solid #00a3cd;
}

.body-wrapper {
  align-items: stretch;
}

.me {
  flex: 0 0 auto;
  padding: 20px;
  min-width: 255px; // Match profile image width
}
