.container {
  margin: 0 5%;
  background-color: #252525;
  border-top: 3px solid #00a3cd;
}

.wrapper {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #464646;
  box-shadow: 0px 2px 0px #403c3c;
}

.profileSection {
  padding: 20px;
}

.profileImageWrapper {
  flex: 2;
}

.header {
  margin: 0 -15px;
  padding: 5px 10px;
  background: #028dcb;
  color: white;
  font-size: 18px;
  line-height: 30px;
}

.headerIcon {
  float: right;
  margin-top: 6px;
  color: #026896;
}

@media (max-width: 700px) {
  .wrapper .col-3:first-child {
    padding-right: 15px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }

  .profileSection {
    order: -3;
  }
} 