.twitterContainer {
  display: flex;
  flex: 1;
  height: 500px;
  overflow: auto;
}

.twitter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  --tweet-body: #fff;
  --tweet-color: #fff;
  --tweet-link: #1DA1F2;
  --tweet-link-hover: #1a8cd8;
  --tweet-color-secondary: #8899a6;
  --tweet-border: #2f3336;
  --tweet-hover: #161819;
}

.container {
  padding: 20px;
}

.errorMessage {
  padding: 20px;
  color: #fff;
  text-align: center;
} 